    {% extends 'layout.html' %}

    {% block body %}
        <div class="jumbotron text-center">
            <h1>Welcome to the admin page</h1>
            <p class='lead'>WIP</p>




        <div class="btn-toolbar">
        <a type="button" id="btnSubmit" class="btn btn-primary btn-sm" href="/register">Register a new user</a>
        <a type="button" id="btnCancel" class="btn btn-primary btn-sm" href="/addserver">Add Server</a>
        <a type="button" id="btnCancel" class="btn btn-primary btn-sm" href="/stats">Live Stats</a>
        <a type="button" id="btnCancel" class="btn btn-primary btn-sm" href="/servers">View Servers</a>
        <a type="button" id="btnCancel" class="btn btn-primary btn-sm" href="/domainaccount">Domain Account</a>
        <a type="button" id="btnCancel" class="btn btn-primary btn-sm" href="/emailer">emailer</a>
        </div>
    {% endblock %}
