{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block body %}
        <div class="jumbotron text-center">
            <h1>Add a Domain Account</h1>
            <p class='lead'>WIP</p>
        </div>



        <div class="container">

      <form class="form-signin" method="POST" action="/domainaccount">
        <h2 class="form-signin-heading">Add Domain Account</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.confirm) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Domain account</button>
      </form>


</div> <!-- /container -->
        <h1> {{ data }}</h1>
        <h1>Please submit the form</h1>
    {% endblock %}
