{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}




     <div class="container">
     <h3>Current Users who receive emails: </h3>
     {% for i in contactlist %}
         <p>{{ i }}</p>
     {% endfor %}
     </div>


     <div class="container">
      <form class="form-signin" method="POST" action="/emailer">
        <h2 class="form-signin-heading">Add Email Address to receive notifications</h2>
        {{ addform.hidden_tag() }}
        {{ wtf.form_field(addform.name) }}
        {{ wtf.form_field(addform.emailAddress) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Email Address</button>
      </form>
     </div>


         <div class="container">
            <form class="form-signin" method="POST" action="/emailer">
            <h2 class="form-signin-heading">Remove Email Address from contacts</h2>
            {{ removeform.hidden_tag() }}
            {{ wtf.form_field(removeform.emailAddress) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Remove This Email Address</button>
            </form>
         </div>


{% endblock %}