    {% extends 'layout.html' %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block body %}
        <h>Dashboard</h>
     {% for info in basicserverinfo %}
    <div class="container">
        <h>{{ info[0] }}</h>
            <table border = 1>
                <div class="dl-horizontal">
                <dt>Server Name</dt>
                <dd> {{ info.servername }}</dd>
                <dt>Primary Role</dt>
                <dd> {{ info['ServerName'] }}</dd>
                <dt>Secondary Role</dt>
                <dd> {{ info['CPU-Name'] }}</dd>
                <dt>CPU</dt>
                <dd> {{ info[3] }}</dd>
                <dt>Operating System</dt>
                <dd> {{ info[4] }}</dd>
                <dt>Drives</dt>
                <dd> {{ info[5] }}</dd>
                </div>
            </table>
    <button class="btn btn-primary " type="Drive Info">Drive Info</button>
    </div>

         {% endfor %}




    {% endblock %}
