    {% extends 'layout.html' %}
    {% import "bootstrap/wtf.html" as wtf %}

    {% block body %}
        <div class="page-header">
            <h1>Server Dashboard <small>Find info on servers</small></h1>
        </div>
     {% for info in basicserverinfo %}
                <div class="container">
                    <h2>{{ info['ServerName'] }}</h2>
                        <table class="table table-bordered dl-horizontal">
                            <dt>Server Name</dt>
                            <dd> {{ info['ServerName'] }}</dd>
                            <dt>Primary Role</dt>
                            <dd> {{ info['Primary Role'] }}</dd>
                            <dt>Secondary Role</dt>
                            <dd> {{ info['Secondary Role'] }}</dd>
                            <dt>CPU</dt>
                            <dd> {{ info['CPU-Name'] }}</dd>
                            <dt>Operating System</dt>
                            <dd> {{ info['Operating System'] }}</dd>
                        </table>
                </div>
         {% for drives in serverdrives %}
            {% if drives['Server ID'] == info['Server ID'] %}
                <div class="container">
                <table class="table table-bordered dl-horizontal">
                    <dt>Drive Mapping</dt>
                    <dd> {{ drives['Drive Mapping'] }} </dd>
                    <dt>Free Space</dt>
                    <dd> {{ drives['FreeSpace'] }} </dd>
                    <dt>Bar</dt>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{ drives['Percentage Used'] }}%">
                                {{ drives['Percentage Used'] }}%
                            </div>
                        </div>
                    </dd>
                </table>
                </div>

            {% endif %}{% endfor %}{% endfor %}

    {% endblock %}
